/* importing google font into stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto&display=swap');

/* setting global style variables, mainly font and background colors */
:root{
    --main-background:#F5F5F5;
    --header-background:#46494C;
    --main-font:#4C5C68;
    --main-border:#868689;
    --main-header:#DCDCDD;
    --work-background:#3E616E;
}

/* setting global attributes */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'Cabin', sans-serif;
}

/* element selector styling */
body{
    background-color:var(--main-background);
}

main{
    margin-right:10%;
}

p{
    padding:15px;
    color:var(--main-font)
}

h2 {
    color:var(--main-font);
}

h3{
    color:var(--main-header);
}

footer{
    text-align:center;
    padding:15px;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
}

#contact ul{
    list-style-type:none;
    display:flex;
    padding: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    width:100%;
    align-content: center;
}

#contact ul li{
    padding:10px;
    color:var(--main-font);
    transition:all .5s ease-in-out;
}

#contact ul li:hover{
    transition:all .5s ease-in-out;
    transform:scale(1.5)
}

#contact a{
    text-decoration:none;
    color:var(--main-font);  
} 

#copyright {
    transition:none;
}